<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{/index}">
<head>
    <title>Student - Edit</title>
    <link rel="stylesheet" th:href="@{/adminlte/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css}"/>
    <link rel="stylesheet" th:href="@{/bootstrap-table/bootstrap-table.min.css}">
    <!--Jquery validator-->
    <script th:src="@{/jquery-validate/jquery.validate.min.js}"></script>
    <script th:src="@{/jquery-validate/additional-methods.min.js}"></script>
    <script th:src="@{/jquery-validate/localization/messages_zh.js}"></script>

    <!--Bootstrap Tables-->
    <script th:src="@{/bootstrap-table/bootstrap-table.min.js}"></script>
    <script th:src="@{/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>

    <!--Date picker-->
    <script th:src="@{/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/adminlte/bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js}"></script>

    <!--CK editor-->
    <script th:src="@{/adminlte/bower_components/ckeditor/ckeditor.js}"></script>

    <!-- Select2 -->
    <link th:href="@{/select2/select2.min.css}" rel="stylesheet"/>
    <link th:href="@{/select2/select2-bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{/select2/select2-boostrap-custom.css}" rel="stylesheet"/>
    <script th:src="@{/select2/select2.min.js}"></script>
</head>
<body>
<div class="content-wrapper" layout:fragment="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Student-edit
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Student</a></li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-primary">
                    <form role="form" id="studentForm" th:object="${student}" th:action="@{/stu}"
                          method="POST"
                          enctype="multipart/form-data">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="name">名字: </label>
                                        <input type="text" class="form-control" id="name" th:field="*{name}" name="name">
                                        <input type="hidden" class="form-control" id="id" name="id" th:field="*{id}"  value="id">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>性别:</label>
                                        <select class="form-control" id="sex" name="sex">
                                            <option value="男">男</option>
                                            <option value="女">女</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                                <!--<div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="cThing">班级事件: </label>
                                        <textarea class="form-control" rows="8" placeholder="" id="cThing"
                                                  name="cThing" th:utext="*{cThing}"></textarea>
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="sBirthday">生日: </label>
                                    <input type="text" class="form-control" id="sBirthday" th:field="*{sBirthday}" name="sBirthday"  readonly>
                                </div>
                            </div>
                        </div>
                           <!-- <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="classId">班级: </label>
                                        <input type="text" class="form-control" id="classId" th:value="*{classId}" name="clazzId">
                                    </div>
                                </div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="classId">班级: </label>
                                        <select class="form-control" name="classId" id="classId">
                                            <option value="">请选择</option>
                                            <option th:each="clazz : ${clazzes}"
                                                    th:value="${clazz.cId}"
                                                    th:utext="${clazz.cName}"/>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label for="email">联系方式: </label>
                                        <input type="text" class="form-control" id="email"  th:field="*{email}" name="email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.box-body -->

                        <div class="box-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                            <a href="/stu">
                                <button type="button" class="btn btn-info">Back</button>
                            </a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(function () {
            $('#sBirthday').datepicker({format: 'yyyy-mm-dd', language: 'zh-CN', autoclose: true});
            /*function checkPhone(){
                var phone = document.getElementById('phone').value;
                if(!(/^1[34578]\d{9}$/.test(phone))){
                    alert("手机号码有误，请重填");
                    return false;
                }
            }*/
            $('#studentForm').validate({
                rules: {
                    name:{
                        required: true
                    },
                    sex: {
                        required: true
                    },
                    classId: {
                        required: true
                    },
                    email: {
                        required: true,
                        email: true
                    }

                },
                highlight: function (element) {
                    $(element).closest('.form-group').addClass('has-error');
                },
                success: function (element) {
                    element.closest('.form-group').removeClass('has-error');
                    $(element).closest('.error').remove();
                },
                errorPlacement: function (error, element) {
                    if (element.parent('.input-group').length) {
                        error.insertAfter(element.parent());
                    } else if (element.hasClass('select2') || element.hasClass('select2-hidden-accessible')) {
                        error.insertAfter(element.next('span'));
                    } else {
                        error.insertAfter(element);
                    }
                }
            });
        })

    </script>
</div>
</body>
</html>